.profile {
    min-height: 590px;
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 900px) {
    .profile__container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .profile__container {
        position: static;
    }
}

.profile__form {
    width: 410px;
    margin: 74px auto 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 900px) {
    .profile__form {
        margin: 0 auto 16px;
    }
}

@media screen and (max-width: 500px) {
    .profile__form {
        width: 260px;

    }
}

.profile__header {
    margin: 0 0 123px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

}

@media screen and (max-width: 900px) {
    .profile__header {
        margin: 41px 0 96px;
    }
}

@media screen and (max-width: 500px) {
    .profile__header {
        margin: 70px 0 80px;
    }
}

.profile__string {
    font-size: 11px;
    line-height: 13px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    margin-bottom: 17px;

}

.profile__string:last-of-type {
    border: 0;
    padding: 0;
    margin-bottom: 220px;
}

@media screen and (max-width: 500px) {
    .profile__string:last-of-type {
        margin-bottom: 379px;
    }
}

.profile__label {
    font-weight: 500;

}

.profile__input {
    font-weight: 400;
    background-color: transparent;
    border: 0;
    color: rgba(255, 255, 255, 1);
    width: 80%;
    padding: 0;
    text-align: right;

}

.profile__change-button {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: opacity 0.2s linear;
    padding: 0;
    margin: 0 auto;
}

.profile__change-button:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.profile__change-button_disabled {
    opacity: 0.2;
}

.profile__signout {
    margin: 0 auto;
    color: rgba(238, 52, 101, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

@media screen and (max-width: 500px) {
    .profile__signout {
        padding-bottom: 40px;
    }
}

.profile__signout:hover{
    opacity: 0.6;
    text-decoration: underline;
}


