.app {
  background-color: #202020;
  margin: 0;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

.app__item {
  margin: 0 auto;
}

.app__container {
  padding: 0 70px;
}

@media screen and (max-width: 900px) {
  .app__container {
    padding: 0 30px;
  }
}

