.header {
    display: flex;
    flex-direction: column;
}

.header__basic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 74px;

}

.header_landing {
    background-color: #073042;

}

.header__logo {
    max-width: 38px;
    margin-right: 44px;
    cursor: pointer;
}


.header__entry {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.header__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: auto 0;
    cursor: pointer;
    transition: opacity 0.2s linear;
}
.header__text:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.header__button {
    color: rgba(0, 0, 0, 1);
    background-color: #3DDC84;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.2s linear;
    margin-left: 30px;
    opacity: 1;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 76px;
    min-height: 32px;
}

.header__button:hover{
    opacity: 0.6;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-right: 16px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.header__link:last-of-type {
    font-weight: 400;
}

.header__link:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.header__account-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header__account-button {
    margin-left: 13px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: rgba(49, 49, 49, 1);
    background-image: url("../../images/icon-account.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;

}

.header__account {
    cursor: pointer;
    transition: opacity 0.2s linear;
    display: flex;
    align-items: center;
}

.header__account:hover{
    opacity: 0.6;
    text-decoration: underline;
}
