.footer {
    display: flex;
    flex-direction: column;
    padding-top: 79px;
}

@media screen and (max-width: 500px) {
    .footer {
        padding: 79px 10px 0;
    }
}

.footer__header {
    text-align: center;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 20px;
    margin: 0;
    color: rgba(139, 139, 139, 1);
}

@media screen and (max-width: 500px) {
    .footer__header {
        font-size: 12px;
        line-height: 15px;
    }
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    padding: 20px 0;
}

@media screen and (max-width: 500px) {
    .footer__container {
        flex-direction: column-reverse;
    }
}

.footer__copy {
    margin: 0;
}

@media screen and (max-width: 500px) {
    .footer__copy {
        margin: 0 auto;
        color: rgba(139, 139, 139, 1);
    }
}

.footer__links {

}

@media screen and (max-width: 500px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        gap: 12px;
    }
}

.footer__link {
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.footer__link:hover{
    opacity: 0.6;
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    .footer__link {
        margin: 0 auto;
    }
}

