.footer {
    display: flex;
    flex-direction: column;
    padding-top: 79px;
}

.footer__header {
    text-align: center;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 20px;
    margin: 0;
    color: rgba(139, 139, 139, 1);
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    padding: 20px 0;
}

.footer__copy {
    margin: 0;
}

.footer__links {

}

.footer__link {
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.footer__link:hover{
    opacity: 0.6;
    text-decoration: underline;
}
