.sign {
    min-height: 780px;

}

.sign__container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 396px;
    background-color: transparent;
    padding: 70px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .sign__container {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .sign__container {
        align-items: center;
        padding-top: 56px;
        max-width: 320px;
        position: static;
    }
}

.sign__form {
    display: flex;
    flex-direction: column;
}

.sign__header {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0;
}

@media screen and (max-width: 500px) {
    .sign__header {
        margin: 50px 0 80px;
    }
}

.sign__button {
    width: 396px;
    min-height: 45px;
    background-color: rgba(66, 133, 244, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 0;
    margin-top: 69px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.sign__button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .sign__button {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sign__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(139, 139, 139, 1);
    text-align: center;
    margin: 16px 0 0;
    width: 100%;

}

@media screen and (max-width: 500px) {
    .sign__text {
        margin: 14px 0 0;
    }
}

.sign__link {
    color: rgba(66, 133, 244, 1);
    margin-left: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.sign__link:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.sign__input {
    padding: 0 0 10px;
    border: 0;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    background-color: transparent;
    color: white;
}

.sign__input:focus {
    border-bottom: 1px solid rgba(66, 133, 244, 1);
}

.sign__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
    color: rgba(139, 139, 139, 1);
}

.sign__label:first-child {
    margin: 0;
}

.sign__text-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(238, 52, 101, 1);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    padding: 10px 0 5px;
}

.sign__text-error:last-of-type {
    margin-bottom: 240px;
}


.sign__text-error_active {
    opacity: 1;
    visibility: visible;
}

.sign__input-error {
    color: rgba(238, 52, 101, 1);
}
